// Custom styles.
body{
    background:url(http://pnbd44c64.bkt.clouddn.com/beijing.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
